html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
}

canvas {
  display: block;
}

p {
  color: rgb(255, 255, 255);
}

.score p {
  display: inline-block;
}

#player2Score {
  float: right;
}

.controls {
  font-style: italic;
  text-align: center;
}
